/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 30px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: ghostwhite;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

#about h2, #about h3, #projects h2, #contact h2, #diagrams h2 {
  text-decoration: underline;
}

/* NAV */
.navbar {
  background: #0F111A;
}

#nav-main .nav-link {
  color: #D3D3D3;
  font-weight: 600;
}

#nav-main .nav-link:hover {
  color: #F8F7F9;
  font-weight: 700;
}

.navbar-toggler {
  background: #090B10;
}

/* WELCOME SECTION */
#welcome {
  height: 100vh;
  width: 100%;
  background: #090B10;
  color: #F8F7F9;
  padding-top: 150px;
  font-family: "Menlo", monospace, serif;
}

#toggle-btn {
  background: #0F111A;
  color: darkgray;
  top: 0;
  right: 0;
  position: absolute;
}

#toggle-btn:hover {
  cursor: pointer;
  color: lightgreen;
}

#theme-credit {
  color: gray;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 10px;
}

#creator, #theme-name {
  font-size: 10px;
}

#cli {
  background: #0F111A;
  border-radius: 10px;
  height: 400px;
}

#welcome h1 {
  font-size: 30px;
}

#welcome h1 span {
  font-size: 30px;
}

.type-block {
  background: #F8F7F9;
}

.hide {
  visibility: hidden;
}

#loading {
  color: lightgreen;
}

#view-work {
  color: lightgreen;
  text-align: center;
  position: absolute;
  top: 85vh;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -82px;
}

#down {
  color: #F8F7F9;
  position: absolute;
  top: 87vh;
  position: absolute;
  left: 50%;
  padding: 5px;
  border-radius: 50px;
  font-size: 2.5em;
}

#down:hover {
  color: lightgreen;
  cursor: pointer;
}

/* ABOUT SECTION */
#profile-img {
  border-radius: 50%;
  width: 350px;
  margin: auto;
  -webkit-box-shadow: -1px 2px 10px -2px #000000;
  box-shadow: -1px 2px 10px -2px #000000;
}

#about-me-text {
  line-height: 2;
  min-width: 400px;
}

.card {
  margin: auto;
  -webkit-box-shadow: -1px 2px 5px -2px #000000;
  box-shadow: -1px 2px 5px -2px #000000;
}

.list-style-none{
  list-style-type: none;
}

.skills li {
  font-size: 30px;
  margin: 40px;
}

/* PROJECTS SECTION */
#projects {
  background: #090B10;
}

#projects h2 {
  color: #F8F7F9;
}

#projects a {
  color: aqua;
}

.carousel {
  margin-top: 50px;
}

.carousel-inner {
  height: 650px;
}

.carousel-caption {
  color: #F8F7F9;
  top: 50%;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container img {
  width: 100%;
  max-width: 750px;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0F111A;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.img-container:hover .overlay {
  opacity: 0.9;
}

.overlay span {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #F8F7F9;
}

.img-cred span, .img-cred a {
  font-size: 10px;
}

/* DIAGRAMS PAGE */
#title-diagrams h1 {
  font-size: 3em;
}

#diagrams {
  background: #090B10;
}

#diagrams h2 {
  color: #F8F7F9;
}

#diagrams a {
  color: aqua;
}

#diagrams-inner {
  height: 500px;
}

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 1350px) {
  .skills li {
    font-size: 18px;
    margin: 50px;
  }

  #about-me-text p {
    line-height: 1.5;
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  #welcome h1 {
    font-size: 22px;
  }

  #welcome h1 span {
    font-size: 22px;
  }

  #view-work {
    font-size: 14px;
    top: 86vh;
    left: 49.9%;
  }
}

@media screen and (max-width: 845px) {
  #profile-img {
    margin-bottom: 50px;
  }

  .skills li {
    margin: 20px;
  }
}

@media screen and (max-width: 579px) {
  #skills-section {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  #welcome h1 {
    font-size: 14px;
  }

  #welcome h1 span {
    font-size: 14px;
  }

  #view-work {
    font-size: 10px;
    top: 87vh;
    left: 49.7%;
  }

  .skills li {
    font-size: 14px;
  }

  figure #profile-img {
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  #profile-img {
    width: 400px;
  }
}
