* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

#welcome {
  height: 100vh;
  width: 100%;
  background: #090B10;
  color: #F8F7F9;
  padding-top: 150px;
  font-family: "Menlo", monospace, serif;
}

#cli {
  background: #0F111A;
  border-radius: 10px;
  height: 400px;
}

#welcome h1 {
  font-size: 30px;
}

#welcome h1 span {
  font-size: 30px;
}

.type-block {
  background: #F8F7F9;
}

.hide {
  visibility: hidden;
}

#type4 {
  color: lightgreen;
}

#profile-img {
  border-radius: 50%;
}

#view-work {
  color: lightgreen;
  text-align: center;
  position: absolute;
  top: 84vh;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -82px;
}

#down {
  color: #F8F7F9;
  position: absolute;
  top: 87vh;
  position: absolute;
  left: 50%;
  padding: 5px;
  font-size: 2.5em;
}

#down:hover {
  color: lightgreen;
  background: #0F111A;
  cursor: pointer;
  border-radius: 50px;
}

.card{
  margin: auto;
}

.list-style-none{
  list-style-type: none;
}

.skills li {
  font-size: 30px;
  margin: 20px;
}

img {
  margin: 150px;
  -webkit-box-shadow: -1px 2px 10px -2px #000000;
  box-shadow: -1px 2px 10px -2px #000000;
}

#projects h2 {
  color: #F8F7F9;
}

.carousel {
  margin-top: 50px;
}
.carousel-inner {
  height: 600px;
}
.carousel-caption {
  color: #F8F7F9;
  top: 50%;
}

@media screen and (min-width: 1400px) {
  img {
    width: 400px;
  }
}
